#box {
    width: 50%;
    height: 300px;
    background-size: 100% 100%;
}

p {
    color: crimson;
    font-weight: bold;
    font-size: 40px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 3px black;
}