table {
    width: 30%;
    border: 2px solid black;
    height: 50px;
    margin: auto;
    padding: 0;
}

tr {
    padding: 0;
}

td {
    padding: 0;
    cursor: pointer;
}

#box {
    width: 20%;
    height: 100px;
    margin: 20px auto;
    background-color: green;
}